.App {
  text-align: center;
}

.App-title {
  font-size: calc(10px + 2vmin);
}

.App-header {
  height: calc(1rem + 2vmin);
  margin: 1rem auto;
}

.App-content {
  background-color: #282c34;
  min-height: calc(100vh - 3rem - 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-accordion-1 {
  width: 300px;
}

.App-accordion-1 ul {
  padding-inline-start: 0.5rem;
}

.App a:link, a:visited {
  color: #85ff89;
  transition-duration: 0.4s;
  cursor: pointer;
}

.App a:hover, a:active {
  background-color: #fff;
  color: #282c34;
}